
/*

!/Pistronics2-1.7.10
/Pistronics2-1.7.10/*
!/Pistronics2-1.7.10/src
/Pistronics2-1.7.10/src/main/resources

!/Pistronics2-1.7.2
/Pistronics2-1.7.2/*
!/Pistronics2-1.7.2/src
/Pistronics2-1.7.2/src/main/resources

!/Pistronics2-1.6.4
/Pistronics2-1.6.4/*
!/Pistronics2-1.6.4/src
/Pistronics2-1.6.4/src/main/resources

!/universal
!/resources

!/LICENSE.txt

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
